#DATA FRAME PART - 1

DataFrame is the heart of pandas library. It's a primary object that we will be workin

The DataFrame is conceptually a two-dimensional series object, where there's an index and multiple columns of content, with each column having a label. In fact, the distinction between a column and a row is only a conceptual distinction, and you can think of the DataFrame itself as simply a two-axis labeled array

import pandas as pd

In [4]:
#Create three records of students using series
rec1 = pd.Series({"Name":"Shaurya","Branch":"AIML","Roll No":25})
rec2 = pd.Series({"Name":"Ayush","Branch":"CSE","Roll No":15})
rec3 = pd.Series({"Name":"Madhur","Branch":"ECE","Roll No":10})
print(rec1)
print(rec2)
print(rec3)

Name       Shaurya
Branch        AIML
Roll No         25
dtype: object
Name       Ayush
Branch       CSE
Roll No       15
dtype: object
Name       Madhur
Branch        ECE
Roll No        10
dtype: object

So like a series the DataFrame object is indexed. I'll use a group of series, where each series represents a row of data. Just like the series function, we can pass in our individual items in an array and we can pass in our index values as second arguments. So df is a common name for a DataFrame equals pd.DataFrame, and we'll pass in record1, record2, record3 as our arrays, and we'll just say our index is school1, school2 and school1. Just like the series, we can use the head function to see the first several rows of the DataFrame, including indices from both axis, and we can use this to verify the columns and the rows, so df.head. You'll notice here the Jupyter creates a nice bit of HTML to render the results of the DataFrame.

In [7]:
df = pd.DataFrame([rec1,rec2,rec3],index=["Student 1","Student 2","Student 3"])
df

              Name Branch  Roll No
Student 1  Shaurya   AIML       25
Student 2    Ayush    CSE       15
Student 3   Madhur    ECE       10

In [8]:
df.head()

              Name Branch  Roll No
Student 1  Shaurya   AIML       25
Student 2    Ayush    CSE       15
Student 3   Madhur    ECE       10

So we have the index, which is the leftmost column and is the school name, and then we have the rows of data, where each row has a column header which was given in our initial record directories.

So similar to the series, we can extract data using the.iloc and.loc attributes. Because the DataFrame is two-dimensional, passing a single value to loc indexing operator will return the series if there's only one row to return

 For instance, if we wanted to select data associated with school2, we would just query the.loc attribute with one parameter.

In [9]:
df.loc["Student 2"]

Name       Ayush
Branch       CSE
Roll No       15
Name: Student 2, dtype: object

We can check the data type of the return using the python type function.

In [10]:
type(df.loc['Student 3'])

pandas.core.series.Series

It's important to remember that the indices and column names along either axis horizontal or vertical, could be non-unique. In this example, we see two records for school1 as different rows. If we use a single value with the DataFrame lock attribute, multiple rows of the DataFrame will be return, not as a new series, but as a new DataFrame.

In [12]:
df.loc['Student 1']

Name       Shaurya
Branch        AIML
Roll No         25
Name: Student 1, dtype: object

In [13]:
type(df.loc['Student 2'])

pandas.core.series.Series

In [14]:
#If we want to get specific data we need two parameters row and column name
df.loc['Student 1','Roll No']

25

In [15]:
#What we can do if we want to retrieve a column.
#1) Transpose Matrix and  then retrieve data using loc 
df.T

        Student 1 Student 2 Student 3
Name      Shaurya     Ayush    Madhur
Branch       AIML       CSE       ECE
Roll No        25        15        10

In [17]:
df.T.loc['Name']

Student 1    Shaurya
Student 2      Ayush
Student 3     Madhur
Name: Name, dtype: object

Imp -> loc and iloc used for row selection if we want to select columns we can use indexing operators.

In [18]:
df

              Name Branch  Roll No
Student 1  Shaurya   AIML       25
Student 2    Ayush    CSE       15
Student 3   Madhur    ECE       10

In [19]:
df['Name']

Student 1    Shaurya
Student 2      Ayush
Student 3     Madhur
Name: Name, dtype: object

In [21]:
#If we want to get only branch and roll no we can use chaining (: can be used for slicing)
df.loc[:,['Branch','Roll No']]

          Branch  Roll No
Student 1   AIML       25
Student 2    CSE       15
Student 3    ECE       10

Dropping data. It's easy to delete data in series and DataFrames, and we can use the drop function to do so. This function takes a single parameter, which is the index or row label to draw. This another tricky place for new users. The drop function doesn't actually change the DataFrame by default, instead the drop function returns to you a copy of the DataFrame with the given rows removed.

In [22]:
df.drop('Student 2')

              Name Branch  Roll No
Student 1  Shaurya   AIML       25
Student 3   Madhur    ECE       10

In [23]:
df

              Name Branch  Roll No
Student 1  Shaurya   AIML       25
Student 2    Ayush    CSE       15
Student 3   Madhur    ECE       10

Drop has two interesting optional parameters. The first is called in-place, and if it's set to true, the DataFrame will be updated in place instead of a copy being returned. The second parameter is the axes, which should be dropped. By default this value is zero, indicating the row axis. But you can change it to one if you wanted to drop a column. For example, let's make a copy of the DataFrame using the.copy function. So copy_df equals df.copy. Let's drop the name column in this copy. So copy df.drop, we say the column we want to drop name, we say in-place equals the true, and then we set the axis because, it doesn't know that this is a column. We set the axis equal to one to tell it that this is named column, and then printout copy_df. There is a second way to drop a column, and that's directly through the use of the indexing operator, using the del keyword.

In [27]:
copy_df = df.copy() #Make a copy of df to demonstrate drop
copy_df.drop('Student 1',inplace=True)
copy_df

             Name Branch  Roll No
Student 2   Ayush    CSE       15
Student 3  Madhur    ECE       10

In [28]:
df

              Name Branch  Roll No
Student 1  Shaurya   AIML       25
Student 2    Ayush    CSE       15
Student 3   Madhur    ECE       10

In [30]:
#Adding A New Column or set some default values.
is_present = [True,False,True]
df['Attendance']=is_present
df

              Name Branch  Roll No  Attendance
Student 1  Shaurya   AIML       25        True
Student 2    Ayush    CSE       15       False
Student 3   Madhur    ECE       10        True

In [31]:
#To set a value same for all
df["Ready For Freshers"]="No"
df

              Name Branch  Roll No  Attendance Ready For Freshers
Student 1  Shaurya   AIML       25        True                 No
Student 2    Ayush    CSE       15       False                 No
Student 3   Madhur    ECE       10        True                 No

#END OF DATAFRAME PART - 1