Let's look at pandas toolkit, it will help to manipulate, clean and query data.

Let's first learn python series data structure. We will lean how to manipulate and store 1-D indexed data in series object.

The series is one of the core data structures in pandas. You can think of it as a cross between a list and a dictionary. The items are all stored in an order and there's labels with which you can retrieve them. An easy way to visualize this is two columns of data. The first is the special index, a lot like keys in a dictionary. While the second is your actual data. It's important to note that the data column has the label of its own and can be retrieved using the dot name attribute. This is different than with dictionaries and is useful when it comes to merging multiple columns of data, and we'll talk about that later on in the course. Let's import pandas to get things started

In [2]:
import pandas as pd

In [4]:
students = ["Shaurya","Ashish","Karan"]
pd.Series(students)

0    Shaurya
1     Ashish
2      Karan
dtype: object

The results is a Series object which is nicely rendered to the screen. We see here that the pandas has automatically identified the type of data in the series as object and set the dtype parameter as appropriate. We see that the values are indexed with integers starting with zero

Imp -> pandas storage series values in a typed array using the Numpy library. This offer significant speed-up when processing data versus traditional python lists.

In [5]:
nums = [45,18,7] #If you are an indian cricket team fan, look carefully at numbers.
pd.Series(nums)

0    45
1    18
2     7
dtype: int64

How Numpy And Pandas Handle Missing Data?

In [6]:
grades = ["A","B",None]
pd.Series(grades)

0       A
1       B
2    None
dtype: object

In [10]:
#If we a have a list of numbers and one of them is None in that case pandas make it as NaN(floating point number) and set dtype to float 64.
gpa = [8,7,None]
pd.Series(gpa)

0    8.0
1    7.0
2    NaN
dtype: float64

In [9]:
#Let's learn more about NaN
import numpy as np #Numpy allows us to use  NaN Value

In [14]:
print(np.nan)

nan

In [15]:
np.nan == np.nan

False

We can use isnan function to check if a number is not a number or not

In [16]:
np.isnan(np.nan)

True

A series can be created directly from dictionary data. If you do this, the index is automatically assigned to the keys of the dictionary that you provided and not just incrementing integers.

In [19]:
my_friends_gpa = {"Shaurya":8.3,"Ashish":8.2,"Sachin":8.1}
test_series = pd.Series(my_friends_gpa)
test_series

Shaurya    8.3
Ashish     8.2
Sachin     8.1
dtype: float64

In [20]:
test_series.index #Returns a Index obj with labels

Index(['Shaurya', 'Ashish', 'Sachin'], dtype='object')

You can also separate your index creation from the data by passing in an index as a list explicitly to the series.

In [21]:
fav_subj = pd.Series(["Maths","Physics","Chemistry"],index = ["Shaurya","Akshit","Vikram"])
fav_subj

Shaurya        Maths
Akshit       Physics
Vikram     Chemistry
dtype: object

In [23]:
#Let's see how python handles misalignment
sales = {"Seltos":670,"Sonet":570,"Astor":560}
pd.Series(sales,index=["Seltos","Sonet","Carens"])

Seltos    670.0
Sonet     570.0
Carens      NaN
dtype: float64

#END OF SERIES DATA STRUCTURE